@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(sup-7e521dfab4630087.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+b7, U+c1, U+c9, U+cd, U+d3, U+da, U+dd, U+e1, U+e9, U+ed, U+f3, U+fa, U+fd, U+106-107, U+139-13a, U+143-144, U+154-155, U+15a-15b, U+179-17a, U+1f4-1f5, U+301, U+60c, U+61b, U+61f, U+621-624, U+626-628, U+62a, U+62c-63a, U+641-642, U+644-646, U+648, U+64a-64b, U+64f-650, U+653-654, U+670, U+679, U+67e, U+686, U+688, U+691, U+6a9, U+6af, U+6ba, U+6be, U+6c1-6c2, U+6cc, U+6d2-6d4, U+1e30-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e83, U+2013-2014, U+2018-2019;
}
