@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(sup-f8e1740e6713d65f.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+b7, U+c1-c2, U+c9-ca, U+cd-ce, U+d3-d4, U+da-db, U+dd, U+e1-e2, U+e9-ea, U+ed-ee, U+f3-f4, U+fa-fb, U+fd, U+106-109, U+11c-11d, U+124-125, U+134-135, U+139-13a, U+143-144, U+154-155, U+15a-15d, U+174-177, U+179-17a, U+1f4-1f5, U+301-302, U+60c, U+1e30-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e83, U+1e90-1e91, U+1ea4-1ea5, U+1ebe-1ebf, U+1ed0-1ed1, U+2013-2014, U+201c-201d;
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(sup-792dc05d1cf5ca94.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+b7, U+c1-c2, U+c9-ca, U+cd-ce, U+d3-d4, U+da-db, U+dd, U+e1-e2, U+e9-ea, U+ed-ee, U+f3-f4, U+fa-fb, U+fd, U+106-109, U+11c-11d, U+124-125, U+134-135, U+139-13a, U+143-144, U+154-155, U+15a-15d, U+174-177, U+179-17a, U+1f4-1f5, U+301-302, U+60c, U+1e30-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e83, U+1e90-1e91, U+1ea4-1ea5, U+1ebe-1ebf, U+1ed0-1ed1, U+2013-2014, U+201c-201d;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(sup-b985b8527cdc42e0.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+b7, U+c1-c2, U+c9-ca, U+cd-ce, U+d3-d4, U+da-db, U+dd, U+e1-e2, U+e9-ea, U+ed-ee, U+f3-f4, U+fa-fb, U+fd, U+106-109, U+11c-11d, U+124-125, U+134-135, U+139-13a, U+143-144, U+154-155, U+15a-15d, U+174-177, U+179-17a, U+1f4-1f5, U+301-302, U+60c, U+1e30-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e83, U+1e90-1e91, U+1ea4-1ea5, U+1ebe-1ebf, U+1ed0-1ed1, U+2013-2014, U+201c-201d;
}
