@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(sup-57f8e640a53be2f1.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+ab, U+b7, U+bb, U+c1, U+c4, U+c9, U+cb, U+cd, U+cf, U+d3, U+d6, U+da, U+dc-dd, U+e1, U+e4, U+e9, U+eb, U+ed, U+ef, U+f3, U+f6, U+fa, U+fc-fd, U+ff, U+102-103, U+106-107, U+114-115, U+11e-11f, U+12c-12d, U+139-13a, U+143-144, U+14e-14f, U+154-155, U+15a-15b, U+16c-16d, U+178-17a, U+1d7-1d8, U+1f4-1f5, U+301, U+306, U+308, U+401, U+403, U+40c, U+40e, U+410-425, U+427-428, U+42d-449, U+44b-44f, U+451, U+453, U+45c, U+45e, U+4c1-4c2, U+4d0-4d3, U+4d6-4d7, U+4dc-4df, U+4e4-4e7, U+4ec-4ed, U+4f0-4f1, U+4f4-4f5, U+4f9, U+60c, U+1e26-1e27, U+1e2e-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e85, U+1e8d, U+1e97, U+1eae-1eaf, U+2013-2014;
}
