@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(sup-8bac6aef46b96c20.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-57, U+59-5a, U+61-7b, U+7d, U+a0, U+ab, U+b7, U+bb, U+bf, U+c1, U+c3, U+c9, U+cd, U+d1, U+d3, U+d5, U+da, U+dd, U+e1, U+e3, U+e9, U+ed, U+f1, U+f3, U+f5, U+fa, U+fd, U+106-107, U+128-129, U+139-13a, U+143-144, U+154-155, U+15a-15b, U+168-169, U+179-17a, U+1f4-1f5, U+301, U+303, U+60c, U+1e30-1e31, U+1e3e-1e3f, U+1e4c-1e4d, U+1e54-1e55, U+1e78-1e79, U+1e7c-1e7d, U+1e82-1e83, U+1ebc-1ebd, U+1ef8-1ef9, U+2013-2014;
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(sup-40e985a76eda6329.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-57, U+59-5a, U+61-7b, U+7d, U+a0, U+ab, U+b7, U+bb, U+bf, U+c1, U+c3, U+c9, U+cd, U+d1, U+d3, U+d5, U+da, U+dd, U+e1, U+e3, U+e9, U+ed, U+f1, U+f3, U+f5, U+fa, U+fd, U+106-107, U+128-129, U+139-13a, U+143-144, U+154-155, U+15a-15b, U+168-169, U+179-17a, U+1f4-1f5, U+301, U+303, U+60c, U+1e30-1e31, U+1e3e-1e3f, U+1e4c-1e4d, U+1e54-1e55, U+1e78-1e79, U+1e7c-1e7d, U+1e82-1e83, U+1ebc-1ebd, U+1ef8-1ef9, U+2013-2014;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(sup-f6cd04179aa6a37c.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-29, U+2b-3b, U+3f-57, U+59-5a, U+61-7b, U+7d, U+a0, U+ab, U+b7, U+bb, U+bf, U+c1, U+c3, U+c9, U+cd, U+d1, U+d3, U+d5, U+da, U+dd, U+e1, U+e3, U+e9, U+ed, U+f1, U+f3, U+f5, U+fa, U+fd, U+106-107, U+128-129, U+139-13a, U+143-144, U+154-155, U+15a-15b, U+168-169, U+179-17a, U+1f4-1f5, U+301, U+303, U+60c, U+1e30-1e31, U+1e3e-1e3f, U+1e4c-1e4d, U+1e54-1e55, U+1e78-1e79, U+1e7c-1e7d, U+1e82-1e83, U+1ebc-1ebd, U+1ef8-1ef9, U+2013-2014;
}
