@font-face {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 400 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(sup-22f8486690f3a992.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+ab, U+b7, U+bb, U+c1, U+c9, U+cd, U+d3, U+da, U+dd, U+e1, U+e9, U+ed, U+f3, U+fa, U+fd, U+106-107, U+139-13a, U+143-144, U+154-155, U+15a-15b, U+179-17a, U+1f4-1f5, U+301, U+60c, U+61b, U+61f, U+622-624, U+626-628, U+62a, U+62c-63a, U+641-642, U+644-648, U+64a-64b, U+64f-650, U+653-654, U+67e, U+686, U+698, U+6a9, U+6af, U+6cc, U+1e30-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e83, U+200c, U+2013-2014;
}
