@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 400 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(sup-2e55aaf524a22f2f.woff2) format('woff2');
  unicode-range: U+20-21, U+24, U+27-3b, U+3f-50, U+52-57, U+59-5a, U+61-7b, U+7d, U+b7, U+c1, U+c9, U+cd, U+d3, U+da, U+dd, U+e1, U+e9, U+ed, U+f3, U+fa, U+fd, U+106-107, U+139-13a, U+143-144, U+154-155, U+15a-15b, U+179-17a, U+1f4-1f5, U+301, U+60c, U+901-903, U+905-90a, U+90f-911, U+913-918, U+91a-91d, U+91f-932, U+935-939, U+93c, U+93e-943, U+947-949, U+94b-94d, U+964, U+1e30-1e31, U+1e3e-1e3f, U+1e54-1e55, U+1e82-1e83, U+2013-2014, U+2018-2019;
}
